body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 100vw auto;
	background-color: #050a1d;
	width: 100%;
	aspect-ratio: 9 / 16;
}

@media all and (min-width: 3841px) {
	body {
		background-image: url("images/knowell.jpg");
	}
}
@media all and (max-width: 3840px) and (min-width: 721px) {
	body {
		background-image: url("images/knowell_2k.jpg");
	}
}

@media all and (max-width: 720px) {
	body {
		background-image: url("images/knowell_mobile.jpg");
	}
}
